# dependencies
node_modules
/.pnp
.pnp.js

# production
.next
out

# env
.env
.env.local
.env.*.local

# misc
/.turbo
/.swc
/.vercel
*.log
*.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# research cache (dev only)
.research-cache

